<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Producrt</title>
</head>

<link rel="stylesheet" href="/css/main.css">

<body>
    
    <header>
        <nav>
            <ul>
                <li ></li><a href="/"></a>shop</a></li>
                <li ></li><a href="/add-product"></a>add product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>My Product </h2>
        <p>List of prodcuts

        </p></main>
</body>
</html>